* {
    --searchfieldInputBackgroundColor: var(--pageBackgroundColor);
    --searchfieldButtonBackgroundColor: #966561;

    --searchfieldInputTextColor: black;
    --searchfieldButtonTextColor: var(--pageBackgroundColor);

    --contentTextColor: black;
}

.banner {
    height: 30rem;
    width: 100vw;

    background-image: url("../../media/background/bakingequipment.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin-top: 5rem;
}

.searchbar {
    height: 3rem;
    display: flex;
}

.searchbar input {
    height: 100%;
    width: 500px;

    text-align: center;
    font-size: 1.5rem;

    color: var(--searchfieldInputTextColor);

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;

    background-color: var(--searchfieldInputBackgroundColor);
}

.searchbar > input, select, textarea {
    color: var(--searchfieldInputTextColor);
}

.searchbar button {
    height: 100%;
    width: 100px;

    font-size: 1.8rem;
    color: var(--searchfieldButtonTextColor);

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;

    background-color: var(--searchfieldButtonBackgroundColor);
}

.searchbar button:hover {
    cursor: pointer;
}

.recommendedContainer {
    color: var(--contentTextColor);
}

.headerContainer {
    position: relative;
    left: 10vw;
}

.headerContainer h1 {
    margin-top: 0;
    max-width: 250px;

    font-size: 3rem;
}

.recommendedList {
    height: 30rem;
    width: 100vw;

    margin-top: 5rem;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
}

.recommendedItem {
    width: 300px;
    height: 450px;

    border-image: url(../../media/borders/itemborder.png) 25 25 round;
}

.recommendedItem .itemImage {
    height: 100%;
    width: 100%;
}

.itemImage:hover {
    cursor: pointer;
}

.recommendedItem span {
    position: relative;
    left: 30px;
    bottom: 38px;

    font-size: 1.5rem;
}