h1 {
    text-align: center;
    padding-top: 5%;
    font-size: 250%;
}

p {
    margin: 30px 20%;
}

.caption {
    text-align: center;
    width: 100vw;
    margin:0 0 5% 0;
}

.banner-applepie {
    background-image: url(../../media/content/apple-pie.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

article:first-of-type{
    border-right: solid #D8B6A4;
    padding: 30px 15px;
}

article:last-of-type {
    width: 40vw;
    margin: 30px 15px;
}

.recipecontainer {
    display: flex;
    justify-content: center;
}